// Neverland Modifications
// --------------------------------

body {
  background-image: url("@{backgroundImage}");
  background-repeat: repeat;
}

.container.Neverland {
  margin-top: 7.199999999999999em;
  
  &.home {
    margin-top: 5.4em;
  
    .hero-unit {
      background: none;
    }
  }
}

.navbar-top ~ .container.Neverland {
  margin-top: 0px;
  
  &.home {
    margin-top: 0px;
  }
}

#page .page-header { margin-bottom: 2em; }
#page > hr { margin: 3em 0; }
#page > .row > div[class*="span"]:first-child { margin-left: 0px!important; }

#page header {
  margin-left: -30px;
  font-size: 1.2em;
}
#page header, #page section.row {
  margin-left: 0px;
}

// Navbar Top
//--------------------------------------


/* TODO review the spacing for navbar */
.navbar-fixed-top.Neverland,
.navbar-static-top.Neverland,
.navbar-top.Neverland {
  background-image: url("@{backgroundFade}");
  background-repeat: repeat-x;
  background-position: bottom, left;

  .navbar-inner {
    background: transparent url("@{backgroundImage}") repeat 0 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    .box-shadow(none);
    .border-radius(0);
    border: none;
    margin-left: 2.6999999999999997em;
    padding-left: 0;
    padding-right: 0;
    
    .pull-right {
      #search {
        margin-right: 20px;
        margin-top: 6px;
      }
    }
    .nav-collapse.in {
      background-image: url("@{backgroundImage}");
      padding: 0 10px 0 10px;
      border: 1px solid @grayLight;
      .border-radius(3px);
      margin: -2px 40px 10px 0;

      .nav {
        &.pull-right {
          float: left !important;
        }

        li a:hover {
          background: transparent;
          color: @grayDark;
        }
      }
    }
  }

  .btn-navbar {
    margin-right: 40px;
    margin-top: 20px;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));

    .icon-bar {
      color: @black;
      background-color: #999;
     .border-radius(1px);
     .box-shadow(0 1px 0 rgba(255,255,255,.25));
    }
  }

  .nav li {
    max-width: 270px;
    margin-top: 12px;
    width: auto;

    a {
      color: @grayDark;
      padding: 0 30px 0 0;
      text-shadow: none;
      
      i {
        color: @blue;
      }
      :hover, :hover * {
        color: @blue;
      }

      h2, small {
        font-family: @baseFontFamily;
        color: @grayDark;
      }

      h2 {
        font-size: 1.5em;
        line-height: 1em;
        padding: 0;

        small {
          font-size: 0.61em;
          padding-top: 0.3em;
          line-height: 1.2em;
        }
      }
    }
    &.active {
      a {
        color: @black;
        background: none;
        .box-shadow(none);
  
        h2, small {
          color: @black;
        }
      }
      a:focus,
      a:hover {
        .box-shadow(none);
      }
    }
    ul.dropdown-menu {
      margin-right: 13px;
    }
  }

  .nav.pull-right li {
    margin-top: 20px;
  }

  li.dropdown {
    .dropdown-menu li {
      margin-top: 0;

      a {
        color: @black;
        padding: 3px 15px;

        &:hover {
          color: @dropdownLinkColorHover;
        }
      }
    }

    .dropdown-toggle {
      .caret {
        border-top-color: @blue;
        border-bottom-color: @blue;
        opacity: 0.5;
        filter: alpha(Opacity=50);
      }
      &:hover, &.active {
        .caret {
          border-top-color: @blueDark;
          border-bottom-color: @blueDark;  
        }
      }
    }
    
    &.open {
      .dropdown-toggle {
        color: @grayDark;
        background: transparent;

        .caret {
          border-top-color: @blueDark;
          border-bottom-color: @blueDark;
        }
      }
    }
  }
  
  .brand {
    padding: 12px 0px 12px;
    margin: 0 30px 0 0;
    color: @black;
  
    img {
      padding-right: 0.4em;
      vertical-align: top;
    }
  }

  .navbar-text {
    color: @black;
  }
}

.navbar-fixed-top.Neverland {
  height: 7em;
}

#top-small.navbar-fixed-top.Neverland, #top-small.navbar-top.Neverland {
  .nav {
    margin-top: 0;
  }
  
  .brand {
    padding: 8px 20px 12px;
  }
}

.navbar-top.Neverland .nav li a [class^="icon-"]:last-child,
.navbar-top.Neverland .nav li a [class*=" icon-"]:last-child,
.navbar-fixed-top.Neverland .nav li a [class^="icon-"]:last-child,
.navbar-fixed-top.Neverland .nav li a [class*=" icon-"]:last-child {
  margin-right: 4px;
}

#top-small .navbar.Neverland .nav > li > a { text-shadow: none; }

.navbar-top.Neverland .navbar-inner .menu,
.navbar-fixed-top.Neverland .navbar-inner .menu {
  margin-top: 12px;
  padding-top: 7px;
  height: 28px;
  display: none;
}

@media (max-width: 979px) {
  .navbar-top.Neverland .navbar-inner .menu, .navbar-fixed-top.Neverland .navbar-inner .menu {
    display: inline-block;
  }
  .navbar-top.Neverland .navbar-inner .pull-right {
    float: left;
  }
  .navbar-fixed-top.Neverland .nav li, .navbar-top.Neverland .nav li {
    margin-top: 0.5em;
  }
  .navbar-top.Neverland .nav li a {
    padding: 4px 30px 4px 4px;
  }
  .navbar-top.Neverland .nav li a:hover {
    color: #ffffff;
  }
}

// Navlist
//-----------------------------------------

.nav-list.Neverland {
}
.nav-list.Neverland > li {
  margin-bottom: 0.5em;
}
.nav-list.Neverland > li > a {
  padding: 10px 15px;
}
.nav-list.Neverland > li > a :hover, .nav-list.Neverland > li > a :hover * {
  color: @blue;
}

.nav-list.Neverland > li > a h3, .nav-list.Neverland > li > a small, .nav-list.Neverland > li > h3  {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @grayDark;
}
.nav-list.Neverland > li > a h3, .nav-list.Neverland > li > h3 {
  font-size: 1.2em;
  line-height: 1em;
}
.nav-list.Neverland > li > a h3 small {
  padding-top: 1.5em;
  line-height: 1.3em;
}
.nav-list.Neverland .active > a h3 {
  color: #ffffff;
  text-shadow: none;
}
.nav-list.Neverland .active > a h3 small {
  color: #ffffff;
  text-shadow: none;
}
.navbar-bottom.Neverland {
  margin-top: 2em;
  
  .navbar-inner {
    background-image: url("//cdn.kde.org/img/navbar.png");
    background-repeat: repeat;
    background-position: 0, 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: @grayLight;
  }
  
  .nav {
    margin-right: 10px;
    padding-right: 14px;
  }
  
  .breadcrumb {
    margin: 0;
    padding-left: 0;
    display: inline-block;
    background: none;
    border: none;
    .box-shadow(none);
  
    li {
      a {
        color: @white;
        text-shadow: none;
      }
    }
  
    li.active {
      a {
        color: @grayLight;
      }
    }
  }
  
  .btn {
    line-height: 1.3em;
    border: 1px solid #2e3436;
  }
  
  &.fixed {
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  
    .navbar-inner {
      .border-radius(0);
    }
  }

  .dropdown.open .dropdown-toggle {
    background-color: transparent;
  }
}

.navbar .dropdown-menu.bottom-up {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  &:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -7px;
    left: 9px;
  }
  
  &:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    position: absolute;
    bottom: -6px;
    left: 10px;
  }
}  

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2191";
}

.dropdown .caret-up {
  margin-top: 8px;
  margin-left: 2px;
}
.navbar .nav > li:hover .caret-up, .dropdown.open .caret-up {
  opacity: 1;
  filter: alpha(opacity=100);
}
footer.Neverland {
  margin-top: 2em;
  padding: 0em 0 2em;
}

.no-display {
  display: none;
}

// Container without depth
.grey-box {
  min-height: 20px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

