//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.pull-center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
.pull-float {
  position: absolute;
}

// Toggling content
.hide, .hidden {
  display: none !important;
}
.show, .visible {
  display: block !important;
}

// Visibility
.invisible {
  visibility: hidden !important;
}

// For Affix plugin
.affix {
  position: fixed !important;
}

// Alignment
.align-left {
  text-align: left !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.align-justify {
  text-align: justify !important;
}

// Spacers
.top-spacer {
  margin-top: 10px !important;
}
.bottom-spacer {
  margin-bottom: 10px !important;
}
.left-spacer {
  margin-left: 10px !important;
}
.right-spacer {
  margin-right: 10px !important;
}

// Pre-cache components
.pre-cache {
  position: absolute;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  filter: alpha(opacity=0);
}

// Remove margins
.no-margin {
  margin: 0 !important;
}