/*Fonts*/
@font-face
{
	font-family: "baseFont";
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/font?kit=cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw') format('woff');
}
@font-face {
	font-family: "decorFont";
	font-style: normal;
	font-weight: normal;
	src: local('Didact Gothic'), local('DidactGothic'), url('http://themes.googleusercontent.com/font?kit=v8_72sD3DYMKyM0dn3LtWp_RtrTXGeaL_Dia6_H9gNs') format('woff');
}
@font-face {
	font-family: 'featureFont';
		font-style: normal;
		font-weight: 800;
		src: local('Coda Heavy'), local('Coda-Heavy'), url('http://themes.googleusercontent.com/font?kit=NSKszig3lQPRMZg0f0ghaw') format('woff');
}
/*+init {*/
*
{
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
}
/*+}*/
/*Typography*/
BODY
{
/* 	color: #2E3436; */
	color: #444;
	font-size: 16px;
	font-family: "baseFont", "Lucida Sans", Verdana, sans-serif;
	text-align: left;
	word-spacing: 0.2em;
	line-height: 1.6em;
	letter-spacing: 0;
}
P
{
/*Paragraph*/
	text-indent: 1.5em;
	margin: 0px 0px 1.5em;
	padding: 0px;
	text-align: justify;
}
A
{
/*Link*/
	color: #0068C6;
	text-decoration: none;
}
A:empty{
	display:none;
}
#content-pane a{
	background-image: url('../kde.org.img/link.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding-right:10px;
}
A:visited
{
/* 	color: #636363; */
}
A:hover
{
	text-decoration: underline;
}
B, STRONG
{
	font-weight: bold;
}
EM
{
	font-style: italic;
}
ABBR
{
/*Abbreviation*/
	font-weight: bold;
}
ACRONYM
{
/*Acronym*/
	font-style: italic;
}
BIG
{
}
SMALL
{
}
DEL, STRIKE, S
{
/*Deletion*/
	color: #636363;
}
INS
{
/*Insert*/
	color: #204A87;
}
KBD
{
	font-family: inherit;
	color: #000000;
	padding: 0em 0.5em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	background-color: #D3D7CF;
}
Q
{
/*Quote*/
}
SUB
{
}
SUP
{
}
TT
{
	font-family: monospace;
}
VAR
{
}
U
{
}
SAMP
{
/*Sample*/
}
CITE
{
/*Citation*/
	-webkit-column-break-inside: never;
}
HR
{
	margin: 1.5em 0px 3em;
	padding: 0px;
	border: none;
	height: 0px;
	border-top: 1px solid #D3D7CF;
	border-bottom: 1px solid #FFFFFF;
}
H1, H2, H3, H4, H5
{
/*Headers*/
	font-family: "baseFont", "Lucida Sans", Verdana, sans-serif;
	word-spacing: normal;
	letter-spacing: 0;
	line-height: 1em;
	/*+text-shadow:0px 1px 0px #FFF, 0px -1px 1px #ccc, 0px 6px 12px #DEDEDC;*/
	-moz-text-shadow: 0px 2px 2px #FFF, 0px -1px 1px #ccc, 0px 6px 12px #DEDEDC;
	-webkit-text-shadow: 0px 2px 2px #FFF, 0px -1px 1px #ccc, 0px 6px 12px #DEDEDC;
	-o-text-shadow: 0px 2px 2px #FFF, 0px -1px 1px #ccc, 0px 6px 12px #DEDEDC;
	text-shadow: 0px 2px 2px #FFF, 0px -1px 1px #ccc, 0px 6px 12px #DEDEDC;
	font-weight: normal;
	margin: 1.5em 0 1em;
	padding: 0px;
}
H1
{
	font-size: 2em;
	/*display:block;
	border-bottom: 1px solid #D3D7CF;*/
/* 	color: #204A87; */
}
H2
{
	font-size: 1.8em;
}
H3
{
	font-size: 1.6em;
}
H4
{
	font-size: 1.4em;
}
H5
{
	font-size: 1.2em;
}
BLOCKQUOTE, CAPTION, LEGEND, .excerpt
{
/*Quotation*/
	font-family: "decorFont";
/* 	word-spacing: 0.4em; */
/* 	text-align: left; */
/* 	letter-spacing: -0.1em; */
	line-height: 1.15em;
/* 	text-indent: 2em; */
	font-size: 1.4em;
	color: #204A87;
	-webkit-column-break-inside: never;
}
/*
.excerpt:before { content: '"'; font-weight:bold}
.excerpt:after { content: '"';  }*/

UL, OL
{
/*Lists*/
	margin: 0.5em 0px 0.5em 2.5em;
	padding: 0px;
	-webkit-column-break-inside: never;
}
UL
{
/*Unordered list*/
	list-style-type: disc;
}
OL
{
/*Ordered list*/
	list-style-type: decimal-leading-zero;
}
LI
{
}
UL LI
{
}
OL LI
{
}
DL
{
/*Definition list*/
}
DT
{
/*Definition list term*/
	font-weight: bold;
	margin: 0px 0px 0.2em;
	padding: 0px;
}
DD
{
/*Definition list explanation*/
	font-style: italic;
	margin: 0px 0px 1em 1em;
	padding: 1px;
}
PRE
{
/*Pre-formated*/
	border: 1px solid #D3D7CF;
	background-color: #EEEEEC;
	color: #000000;
	margin: 1em 0;
	font-size: 1em;
	line-height: 1em;
	text-align: left;
	padding: 1em;
}
CODE
{
/*Code snippet*/
	font-family: monospace;
	font-size: 0.8em;
	line-height: 1em;
}
IMG
{
	margin: 0px;
	padding: 0px;
	-webkit-column-break-inside: never;
}
IMG.inline
{
	width: 80%;
	border: 1px solid #D3D7CF;
	padding: 5px;
	display: inline;
	background-color: #EEEEEC;
	box-shadow: 1px 1px 1px #fff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
A:hover IMG.inline
{
	border: 1px solid #0068C6;
}
TABLE
{
/*Table*/
	margin: 1em;
	padding: 1em;
	/*[disabled]border:1px solid #D3D7CF;*/
	display: inline-block;
	/*[disabled]background-color:#EEEEEC;*/
	/*[disabled]background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );*/
	/*[disabled]background-image:-moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );*/
}
CAPTION
{
	text-align: left;
	margin: 0px 0px 1em;
	padding: 0px;
}
TR
{
/*Table row*/
	margin: 0px;
	padding: 0px;
}
TD
{
/*Table cell*/
	margin: 0px;
	padding: 0.4em 1em 0.2em;
	border: 1px solid #D3D7CF;
}
THEAD, TFOOT
{
/*Table head*/
	color: inherit;
	line-height: 2em;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
}
THEAD
{
	font-size: 1.2em;
}
THEAD TR, TH
{
/*Table header row*/
	font-weight: bold;
	padding: 0.4em 1em 0.2em;
	text-align: center;
	color: #636363;
	border: 1px solid #D3D7CF;
	border-bottom: 3px solid #D3D7CF;
}
THEAD TR TD, TH TD
{
/*Table header cell*/
}
TBODY
{
/*Table body*/
	background-color: #EBEBE9;
}
TBODY TR
{
/*Table body row*/
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
TBODY TR:hover
{
/*Table body row*/
	background-color: #FFFFFF !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
TBODY TR:nth-child(2n+2)
{
/*Table body row*/
	background-color: #F6F6F5;
}
TBODY TD
{
/*Table body cell*/
}
TFOOT
{
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	font-style: normal;
}
TFOOT TR
{
}
TFOOT TR TD
{
	font-weight: bold;
	color: #636363;
	border-top: 3px solid #D3D7CF;
}
ADDRESS
{
	margin: 1em;
	padding: 0px;
	font-style: italic;
}
FORM
{
/*Forms*/
	margin: 1em 0em;
	/*[disabled]border-bottom:1px solid #D3D7CF;*/
	/*[disabled]padding:1em;*/
	/*[disabled]background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );*/
	/*[disabled]background-image:-moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );*/
}
FIELDSET
{
	margin: 2em 0 0;
	padding: 1em 1em 1em 2em;
	/*[disabled]background-color:#EEEEEC;*/
	/*[disabled]border:1px solid #D3D7CF;*/
}
LEGEND
{
	text-align: left;
	position: relative;
	top: -1em;
}
FORM DIV
{
	margin-bottom: 1em;
}
LABEL
{
	margin-right: 1em;
	vertical-align: middle;
	font-size: 1.1em;
	width: 45%;
	display: inline-block;
}
INPUT, SELECT, TEXTAREA
{
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #D3D7CF;
	padding: 0.2em 0.4em;
	font-family: inherit;
	font-size: 1.3em;
	color: inherit;
	background-color: #FFFFFF;
}
INPUT:active, SELECT:active, TEXTAREA:active
{
	border: 1px solid #636363;
}
INPUT
{
}
SELECT
{
}
TEXTAREA
{
}
INPUT[type=button], INPUT[type=submit], .button
{
	border: 1px solid #D3D7CF;
	font-family: inherit;
	font-size: 1.3em;
	color: inherit;
	padding: 0.4em 1em;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
}
INPUT[type=button]:hover, INPUT[type=submit]:hover, .button:hover
{
	border: 1px solid #0068C6;
	color: #0068C6;
}
INPUT[type=button]:active, INPUT[type=submit]:active, .button:active
{
	border: 1px solid #636363;
	font-family: inherit;
	font-size: 1.3em;
	color: #636363;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.9, rgb(238,238,236)), color-stop(0.1, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 90%, rgb(255,255,255) 10% );
}
PROGRESS
{
}
METER
{
}
#footer-content {
	font-size: 0.8em;
}
