/*
Theme Name: NeverLand
Theme URI: http://www.kde.org/
Description: Theme for KDE Websites.
Author: KDE Webteam
Author URI: http://www.kde.org/
Version: 0.6

License:
License URI:

General comments (optional).
*/

/*+clearfix {*/
#header UL *:after, #header UL:after, SECTION:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#header UL *, #header UL, SECTION
{
	display: inline-block;
}
#header UL *, #header UL, SECTION
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/

BODY
{
	background: #EEEEEC url('images/bg.png') repeat fixed top left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.wrapper
{
	margin: 0px auto;
	padding: 0px;
	background: url('images/header.jpg') no-repeat scroll top center;
	width: 70em;
	text-align: left;
	position: relative;
	top: 0px;
}
/*Header setup all settings here are in px values*/
#header
{
	top: 0px;
	position: absolute;
	width: 100%;
	z-index: 2;
	margin: 0px;
}
#header-content
{
	width: 70em;
	height: 5.0em;
	background: url('images/menu.header.jpg') repeat-y center top;
	background-size: 100%;
	margin: 0px auto;
	position: relative;
	top: 0;
}
#header-shade
{
	width: 70em;
	height: 50px;
	background: url('images/fadeout.header.png') no-repeat top center;
	background-size: 100%;
	margin: 0px auto;
	position: relative;
	top: 0;
}
/*[clearfix]*/#header UL *
{
	=margin: 0px;
	=padding: 1px;
}
/*[clearfix]*/#header UL
{
	margin: 0px;
	padding: 0px;
}
#header LI
{
	list-style: none;
	margin: 0px 1em;
	padding: 0px;
	float: left;
	display: block;
	max-width: 16em;
	height: 5.8em;
	text-align: left;
}

/*#header LI:hover {
	background-image: url('images/arrow-up.png');
	background-position: bottom center;
	background-repeat: no-repeat;
}*/

#header A
{
	display: block;
	vertical-align: middle;
	text-decoration:none;
}
#header H1
{
	font-size: 1.4em;
	font-weight: normal;
	margin: 0px 0px 0.2em;
	padding: 0px;
	text-shadow: 0px 2px 2px #FFF;
}
#header SPAN
{
	margin: 0px;
	padding: 0px;
	color: #888;
	font-size: 0.8em;
	line-height: 1em;
}
#header LI.header.menu.txt H1
{
	margin-top: 0.7em;
	color: #666;
}

#header LI.header.menu.txt.selected{
	background: url('images/arrow-up.png') 3em 0em no-repeat;
}

#header LI.header.menu.txt.selected *{
	color:#333;
	
}

#header LI.header.menu.txt *,
#header LI.header.menu.txt:hover *
{
	-webkit-transition: color, 200ms linear;
}

#header LI.header.menu.txt:hover *
{
	color: #0068C6;
}

#header LI.header.menu.img
{
	margin: 0px 2em;
	padding: 0px 2em;
}
#header LI.header.menu.img IMG
{
	margin-top: 1em;
}
/*Page content*/
#content
{
	top: 65px;
	position: relative;
	z-index: 1;
	display: table;
	margin-bottom: 80px;
	width: 100%;
}
#content-pane
{
	padding: 2em;
	display: table-cell;
}
#content-pane.feature
{
	width: 45em;
}
#content-pane.poster
{
}
#content-pane.selector
{
	width: 100%;
}
/*Selector panel*/
#selector-pane *
{
	-webkit-transition: top,bottom 500ms ease-in-quad 0.5;
	-moz-transition: top,bottom 500ms ease-in-quad 0.5;
	-ms-transition: top,bottom 500ms ease-in-quad 0.5;
	-o-transition: top,bottom 500ms ease-in-quad 0.5;
	transition: top,bottom 500ms ease-in-quad 0.5;
}
#selector-pane
{
	width: 20em;
	display: table-cell;
	position: fixed;
	top: 10em;
	z-index: 99;
/*	-webkit-transition: top,bottom 500ms ease-in-quad 0.5;
	-moz-transition: top,bottom 500ms ease-in-quad 0.5;
	-ms-transition: top,bottom 500ms ease-in-quad 0.5;
	-o-transition: top,bottom 500ms ease-in-quad 0.5;
	transition: top,bottom 500ms ease-in-quad 0.5;*/ /* easeInQuad */
	/*[disabled]font-size:14px;*/
}
#selector-pane UL
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#selector-pane LI
{
	position: relative;
	margin: 0px 0px 1px;
	padding: 1em 1.5em;
	border: 1px solid #D3D7CF;
	background-color: #eeeeec;
	background-image: url('images/arrow-hover.png'),-webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: url('images/arrow-hover.png'),-moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
	background-position: -14px 50%, left top;
	background-repeat: no-repeat;
	-webkit-transition: background-image, border-color, 200ms linear;
	overflow: hidden;
/* 	min-height: 5em; */
/*	-moz-transition: background 500ms linear 0.5;
	-ms-transition: background 500ms linear 0.5;
	-o-transition: background 500ms linear 0.5;
	transition: background 500ms linear 0.5;*/
}

#selector-pane LI:hover {
	border: 1px solid #0068C6;
	background-color: #fff;
	background-image: url('images/arrow-hover.png'), -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-position: 0px 50%, left top;
	-webkit-transition: background-image, border-color, 200ms linear;
}

#selector-pane LI.noarrow:hover {
	border: 1px solid #0068C6;
	background-color: #fff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
}

#selector-pane LI A
{
	display: block;

}

#selector-pane LI A:hover
{
	text-decoration:none
}

#selector-pane LI A:hover
{

}

#selector-pane LI H1
{
	margin: 0px 0px 0.4em;
	padding: 0px;
	font-size: 1.2em;
	line-height: 1.1;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	color: #0068C6;
}
#selector-pane LI SPAN
{
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	line-height: 1.2;
	color: #666;
	display: block;
	text-overflow: ellipsis;
}
#selector-pane LI.active
{
	background-color: #0068C6;
	background-image: url('images/arrow.png'), -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(0,104,198)), color-stop(0.9, rgb(61,163,255)) );
	background-image: url('images/arrow.png'), -moz-linear-gradient( center bottom, rgb(0,104,198) 10%, rgb(61,163,255) 90% );
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid #D3D7CF!important;
	color: #FFFFFF;
	overflow: hidden;
}

#selector-pane LI.active-noarrow
{
	background-color: #0068C6;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(0,104,198)), color-stop(0.9, rgb(61,163,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(0,104,198) 10%, rgb(61,163,255) 90% );
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid #D3D7CF!important;
	color: #FFFFFF;
	overflow: hidden;
}

#selector-pane LI.active-noarrow:hover
{
	background-image: url('images/arrow.png'), -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(0,104,198)), color-stop(0.9, rgb(61,163,255)) );
	background-image: url('images/arrow.png'), -moz-linear-gradient( center bottom, rgb(0,104,198) 10%, rgb(61,163,255) 90% );
}


#selector-pane LI.active A, #selector-pane LI.active A *,
#selector-pane LI.active-noarrow A, #selector-pane LI.active-noarrow A *
{
	color: #FFFFFF;
}

/*Footer setup*/
#footer
{
	background-color: #D3D7CF;
	width: 100%;
	z-index: 100;
	position: relative;
	margin: 0px;
	padding: 2em 0px;
}
#footer-content
{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}
#footer-content div {
	float: left;
	width: 20%;
	text-align: left;
}
/*Panel setup*/
#panel
{
	background-color: #D3D7CF;
	width: 100%;
	/*[disabled]position:fixed;*/
	height: 2em;
	bottom: 0px;
	z-index: 100;
	border-top: 1px solid #BABDB6;
	border-bottom: 1px solid #BABDB6;
}
#panel-content
{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
	text-align: left;
	margin-top: 4px;
}
/*Loader*/
#loader
{
	position: fixed;
	z-index: 1000;
	color: #fff;
	font-weight: bold;
	width: 100px;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	background: #999;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 1px 1px 1px #fff;
}
/*Sections and other*/
/*[clearfix]*/SECTION
{
	clear: both;
}
SECTION.two-columns
{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 2.5em;
	-moz-column-gap: 2.5em;
	column-gap: 2.5em;
}
SECTION.three-columns
{
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
}
SECTION.banner
{
	margin-top: 3em;
	text-align: center;
}
SECTION.visuals
{

}
/*Visuals*/

ul.visuals {
	list-style:none;
	margin:0;
	padding:0;
}

ul.visuals li{
	width:21.5em;
	float:left;
	overflow:hidden;
}

ul.visuals li:nth-child(2n+1){
	margin-right:2em;
}

.poster ul.visuals li:nth-child(2n+1){
	margin-right:0em;
}

.visual, .visual *
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.visual
{
	margin: 1em 1em 1em 0em;
	padding: 1em;
	border: 1px solid #D3D7CF;
	box-shadow: 1px 1px 1px #fff;
	position: relative;
	width: 15.5em;
	height: 14em;
	list-style: none;
	background-color: #fff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
}

.visual.fill
{
	width: 88%;
}

.visual.half
{
	/*width:40%;
	float:left;
	margin-right:2em;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:21em;
	height:16em;
}

.visual:hover
{
	border: 1px solid #0068C6;
}
.visual A
{
	display: block;
}
.visual A:hover
{
	text-decoration: none;
}
.visual A:hover .screenshot
{
	height: 0em;
}
.visual A:hover .description
{
	height: 14em;
}
.visual .screenshot
{
	/*[disabled]width:15.5em;*/
	position: absolute;
	z-index: 1;
	height: 7em;
	overflow: hidden;
	padding-right: 1em;
}
.visual .screenshot IMG
{
	width: 100%;
}
.visual .description
{
	/*[disabled]width:15.5em;*/
	position: absolute;
	z-index: 2;
	height: 6em;
	bottom: 1em;
	overflow: hidden;
	padding-right: 1em;
	padding-top: 1.1em;
}
.visual .description H1
{
	margin: 0px 0px 0.5em;
	padding: 0px;
	font-size: 1.2em;
	color: #666;
	text-shadow:none;
}
.visual .description P
{
	padding: 0px;
	font-size: 0.9em;
	line-height: 1.2em;
/* 	color: #2E3436; */
	color:#444;
	text-indent: 0em;
	text-overflow: ellipsis;
}
.visual .fade-out
{
	position: absolute;
	bottom: 0;
	width: 93%;
	height: 3em;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.2, rgb(238,238,236)), color-stop(1.0, rgba(238,238,236,0)) );
	z-index: 3;
}
/*Icons*/

/*Temp*/
/*type 01*/
/*section.tester{
		background: url(images/deskbg.jpg) no-repeat bottom left;
		min-height: 33em;
		overflow: hidden;
		position: RELATIVE;
		width: 45em;
}*/
/*type 02*/
section.tester{
	background: url(images/deskbg.jpg) no-repeat bottom left;
	min-height: 30em; /*height reduced*/
	overflow: hidden;
	position: RELATIVE;
	width: 45em;
	margin-bottom:2em;
}

.tester .screenholder{
	background: url(images/laptop.png) no-repeat bottom left;
	width: 831px;
	height: 434px;
	position: absolute;
	bottom: 0em;
	left: 12em;
}
.tester .screenholder IMG{
	position: relative;
	top: 14px;
	left: 105px;
	width: 628px;
	height: 353px;
}
/*type 01*/
/*.tester .script{
	position: absolute;
	padding-top: 18em;
}
.tester .script img{
	width: 10em;
	height: 10em;
	float: left;
	background: #EEE;
}
.tester .script h1{
	background: #EEE;
	display: inline-block;
	margin: 0;
	padding: 20px 20px 10px 30px;
	font-size: 3em;
	text-shadow: none;
	font-family: featureFont;
}
.tester .script h2{
 d i*splay: inline-block;
 margin: 0;
 background: #EEE;
 padding: 10px 30px 20px 30px;
 font-size: 1.5em;
 text-shadow: none;
 color: #777;
 font-family: featureFont;
 }*/
.tester .script{
	position: absolute;
	padding-top: 3em; /*mooving it higher*/
}
.tester .script img{
	width: 5em;
	height: 5em;
	margin-left: 0.5em;
}
.tester .script h1{
	display: inline;
	margin: 0;
	padding: 0.3em 1em 0.2em 0em;
	font-size: 3em;
	text-shadow: none;
}
.tester .script h2{
	display: block;
	margin: 0;
	background: #444;
	padding: 0.2em 1em 0.5em 0.5em;
	font-size: 1.3em;
	text-shadow: none;
	color: #eee;
	text-align:right;
}
.tester .features {
	width:45em;
	position: absolute;
	bottom: 0;
}
.tester .features ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
}
.tester .features li{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:1;
	width:30%;
	margin:0em;
	padding:1em;
	border: 1px solid #D3D7CF;
	background-color: #eeeeec;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(238,238,236)), color-stop(0.9, rgb(255,255,255)) );
	background-image: -moz-linear-gradient( center bottom, rgb(238,238,236) 10%, rgb(255,255,255) 90% );
}
.tester .features li h1 {
	margin:0 0 0.5em 0;
	font-size:1.6em;
}
.tester .features li p {
	margin:0;
	font-size:0.9em;
	line-height:1em;
	text-align:left;
}

.more {
	float: right;
}
